<div style="background-image: ;">
    <div class="container d-flex justify-content-center align-items-center" style="height: 70vh;">
        <form action="/login" method="post">
            <h1 class="mb-4">Login for ADMIN</h1>
            {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
            {{/if}}
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" name="email" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-primary" value="login">Sign in</button>

        </form>
    </div>
</div>